.featured{
    /* height: 50vh; */
    padding: 20px 20px 20px 20px;
}

.featured__inside {
    
    /* border: 1px solid black; */
    /* height: 100%; */
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}

.featured__inside__left {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.featured__products{
    display: flex;
    justify-content: space-between;
}

.featured__products__loading{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.loader {
    height: 30px;
    width: 30px;
    background-color: white;
    border: 2px solid #814D1F;
    border-radius: 50%;
    border-bottom: 5px solid white;
    animation: load 0.5s linear infinite;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.featured__products__box {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.featured__products__box p{
    font-size: 16px;
    font-weight: 700;
}

.featured__products__box__img{
    width: 100%;
    height: 300px;
    background-color: #d1cdcd23;
    display: flex;
    justify-content: center;
    align-items: center;

}

.featured__products__box__img img {
    width: 90%;
    height: 90%;
}

.featured__products__box button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
     background-color: #814D1F;
    border: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}



.featured__inside__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
     
}

.featured__inside__right h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
   
}

.featured__inside__right p{
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.featured__inside__right button {
    height: 50px;
    width: 200px;
    background-color: #814D1F;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width:760px) {
    .featured__inside{
        flex-direction: column;
        align-items: center;
        /* background: red; */
        
    }

    .featured__inside__left{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        
        
    }

    .featured__products{
        flex-direction: column;
        align-items: center;
       
        
    }

    .featured__products__box{
        max-width: 300px;
        width: 100%;
        margin-bottom: 50px;
    }

    .featured__inside__right{
        width: 100%;
    }
}