

.landing{
    height: 92vh;
    background-color: #2D1D28;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.landing__inside{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-image: url('../assets/model.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__inside h3{
    font-size: 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.landing p{
    font-size: 18px;
    color: white;
    font-weight: 500;
}


.landing__inside button {
    padding: 20px 50px ;
    border: 2px solid white;
    background: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
}


@media screen and (max-width:760px) {
    .landing__inside h3{
        font-size: 20px;
    }
}