.nav{
    height: 60px;
    background-color: #2D1D28;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.nav__logo h3{
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.nav ul {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
   
}

.nav ul li {
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.link{
    color: white;
    text-decoration: none;
}

.cart{
    height: 40px;
    width: 150px;
    /* border: 1px solid white; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.cart p{
    font-weight: 800;
    font-size: 12px;
}

.cart img{
    height: 20px;
}

.email p{
    color: white;
    font-weight: 500;
}

.cart__counter{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.menu{
    display: none;
}

.line{
    height: 2px;
    width: 30px;
    background: white;
    margin-bottom: 3px;
}

.mobileCart{
    visibility: hidden;
    display: none;

}

.cart__counter__mobile{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.cart__counter__mobile p{
    font-size: 12px;
    font-weight: 800px;
}

@media screen and (max-width:760px) {
    .nav ul {
        display: none;
    }

    .menu{
        display: block;
    }

    .mobileCart{
        visibility: visible;
        display: flex;
    }

    .mobileCart img{
        height: 20px;
    }
}