.toastOn{
    
    padding: 20px;
    background-color: #2D1D28;
    /* border: 1px solid #814D1F;*/
    display: flex;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toastOn p{
    color: white;
    font-weight: 800;
}

.toastOn.toastOff{
    visibility: hidden;
}