.topselling{
    /* height: 50vh; */
    padding: 20px 20px 20px 20px;
}

.topselling__inside {
    
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.topselling__inside h3 {
    text-align: center;
    font-size: 30px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__products__box {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.featured__products__box p{
    font-size: 16px;
    font-weight: 700;
}

.featured__products__box__img{
    width: 100%;
    height: 300px;
    background-color: #d1cdcd23;
    display: flex;
    justify-content: center;
    align-items: center;

}

.featured__products__box__img img {
    width: 90%;
    height: 90%;
}

.featured__products__box button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
     background-color: #814D1F;
    border: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

@media screen and (max-width:760px) {
    
    .topselling__inside{
        padding-left: 20px;
        padding-right: 20px;
        
    }



    .featured__products{
        flex-direction: column;
    }

    .featured__products__box{
        /* max-width: 300px; */
        width: 100%;
       
    
    }


}